
h1 {
    font-size: 65px;
    color: orange;                  
}

ul {
    background-color: brown
}

.muda-cor-de-fundo {
    background-color: burlywood;
}

h1 {
    font-family: sans-serif;
}


p {
    font-weight: 600;
}


body{
    font-size: 16px;
}


p {
    font-size: 3em;
    font-style: oblique;
    line-height: 15px;
    text-align: center;
    text-decoration:overline underline;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}   

#marrom {
    background-color: brown;
}    