h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;            
}

ul {
    background-color: brown
}

.muda-cor-de-fundo {
    background-color: burlywood;
}

p {
    font-weight: 600;
    font-size: 2em;
    font-style: oblique;
    text-align: center;
    text-decoration:overline underline;

}

body {
    font-size: 16px;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red
}

#marrom {
    color: brown;
}