h1, p{
    text-align: center;
}

li:hover {
    background-color: gray;
}

li:active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

