  .super-mario {
    width: 200px;
    position: absolute;       
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 70px
  }
  
  .baloon {
    top: 100px;
    position: absolute;
    left:200px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 150px;
    left:220px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 230px;
    left: 500px
  }