/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 30px;
    margin: 0 3%;    
  }
  
  article {
  
  }
  
  
  h1 {
    font-size: 40px;    
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  section {
    display: flex;
    flex-flow: wrap;
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 780px) {
    body {
      background: lightblue;
      margin: 20px;
    }
  
    figure {
      width: 40%;
      margin-right: 20px;    
    }
  }

  @media screen and (min-width: 1020px) {
    body {
      background: lightseagreen;
      margin: 25px;
      max-width: 1500px;
    }
  
    figure {
      width: 30%;
      margin: 15px;      
    }
  }
  